body {
	padding: 6px 4px 16px 0;
	background-color: #eee;
	font-size: 14px;
}
/* Tabs */
nav {
	margin-left: 16px;
	margin-right: 16px;
	width: 650px;
	margin: 0 16px;
	border-bottom: 1px solid #aaa;
}
nav ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
nav ul li {
	width: 120px;
	float: left;
	padding-left: 8px;
	margin-right: 3px;
	padding-top: 2px;
	background-color: #ccc;
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	padding-bottom: 1px;
	margin-bottom: -1px;
}
nav ul li:first-of-type {
	margin-left: 3px;
}
nav ul li:last-of-type {
	margin-right: 0;
}
nav ul li:hover {
	background-color: #c8c8c8;
	cursor: pointer;
}
nav ul li.vis {
	background-color: #f8f8f8;
	cursor: default;
	border-bottom: 1px solid #f8f8f8;
}
/* Tab Contents */
section {
	clear: left;
	border: 1px solid #aaa;
	border-top: none;
	width: 650px;
	height: 490px;
	margin: 0 0 0 16px;
	overflow-y: scroll;
}
section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
section ul li {
	position: relative;
	height: 49px;
	width: 100%;
	padding: 2px 6px;
	background-color: #f8f8f8;
	cursor: pointer;
}
section ul li:nth-child(even){
	background-color: #e0f0ff;
}
section ul li:first-of-type {
	cursor: unset;
} 
section ul li > span:not(.right) {
	position: absolute;
	max-width: 530px;
	overflow: hidden;
	width: 530px;
}
section ul li > span > span {
	max-width: 530px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
section ul li > span > span:first-of-type {
	font-size: 16px;
}
section ul li > span > span:nth-of-type(2) {
	margin-top: -3px;
}
section ul li > span > span > img {
	margin-right: 4px;
	vertical-align: bottom;
	margin-bottom: 2px;
}
section ul li > span.right {
	position: absolute;
	width: calc(100% - 12px);
	text-align: right;
	font-size: 16px;
}
section ul li > span.right > span {
	font-size: 1em;
}
#panels > section {
	background-color: #f8f8f8;
	display: none;
}
#frmOpts td {
	vertical-align: top;
	padding: 0 24px;
}
#frmOpts p {
	font-size: 16px;
	margin-top: 0.75em;
	margin-bottom: 0;
}
#frmOpts tr:first-of-type td p:first-of-type {
	margin-top: 1em;
}
.controldisabled {
	color: #aaa;
}

body.dark {
	background-color: #000;
	color: #f8f8f8;
}
body.dark nav ul li {
	background-color: #333;
}
body.dark nav ul li:hover {
	background-color: #383838;
}
body.dark nav ul li.vis {
	background-color: #444;
	border-bottom: 1px solid #444;
}
body.dark section ul li {
	background-color: #444;
}
body.dark section ul li:nth-child(even){
	background-color: #009;
} 
body.dark #panels > section {
	background-color: #444;
}
body.dark img[src*="privateBrowsing.svg"] {
	background-color: #ddd;
	border-radius: 3px;
}