/* v2.6 */
body {
	margin: 0;
	padding: 4px 4px 10px 0;
	background-color: #eee;
	--body-size: 14px;
	--content-width: calc(var(--body-size) * 47);
	font: caption;
	font-size: var(--body-size);
	--title-weight: normal;
	--url-weight: normal;
}
body * {
	box-sizing: border-box;
}
/* Tabs */
nav {
	width: var(--content-width);
	min-width: 600px;
	max-width: 768px;
	margin: 8px 16px 0 16px;
	border-bottom: 1px solid #aaa;
	float: left;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	float: left;
}
nav ul li {
	width: 120px;
	float: left;
	padding-left: 8px;
	margin-right: 3px;
	padding-top: 2px;
	background-color: #ccc;
	border-radius: 6px 6px 0 0;
	border: 1px solid #aaa;
	font-weight: bold;
	padding-bottom: 3px;
	margin-bottom: -1px;
}
nav ul li:first-of-type {
	margin-left: 3px;
}
nav ul li:last-of-type {
	margin-right: 0;
}
nav ul li:not([disabled]):not(.vis):hover {
	background-color: #c8c8c8;
	cursor: pointer;
}
nav ul li.vis {
	background-color: #f8f8f8;
	cursor: default;
	border-bottom: 1px solid #f8f8f8;
}
nav ul li[disabled] {
	color: #888;
}
/* Tab Contents */
section {
	clear: left;
	border: 1px solid #aaa;
	border-top: none;
	width: var(--content-width);
	min-width: 600px;
	max-width: 768px;
	height: 490px;
	margin: 0 0 0 16px;
	overflow-y: scroll;
}
section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
section ul li {
	position: relative;
	height: 3.5em;
	width: 100%;
	padding: 3px 6px 2px;
	background-color: #f8f8f8;
	cursor: pointer;
}
#panels.compact section ul li {
	height: 2em;
}
body.blue section ul li:nth-child(even){ /* Updated 1.9.6 */
	background-color: #e0f0ff;
}
body.gray section ul li:nth-child(even){ /* Added 1.9.6 */
	background-color: #e0e0e0;
}
body:not(.gray):not(.blue) section ul li:not(:last-of-type) { /* Added 1.9.6 */
	border-bottom: 1px solid #ccc;
}
section ul li:first-of-type {
	cursor: unset;
}
section ul li.focused {
	border-radius: 8px;
	box-shadow: inset 0 0 3px 3px rgba(97, 181, 255, 0.5);  
}
#panels.mutedfocus section ul li.focused {
	border-radius: 8px;
	box-shadow: inset 0 0 3px 3px #ccc;  
}
body.dark #panels.mutedfocus section ul li.focused {
	border-radius: 8px;
	box-shadow: inset 0 0 3px 3px #888;  
}
section ul li > span:not(.right) {
	position: absolute;
	max-width: 530px;
	overflow: hidden;
	width: 530px;
}
section ul li > span > span {
	max-width: 530px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
section ul li > span > span:first-of-type {
	font-size: 1.15em;
	font-weight: var(--title-weight);
}
section ul li > span > span:nth-of-type(2) {
	margin-top: -3px;
	font-weight: var(--url-weight);
}
section ul li > span > span > img {
	margin-right: 4px;
	vertical-align: bottom;
	margin-bottom: 2px;
}
section ul li > span.right {
	position: absolute;
	width: calc(100% - 12px);
	text-align: right;
	font-size: 1.15em;
}
section ul li > span.right > span {
	font-size: 1em;
}
section ul li[incog="true"]  > span.right > span {
	padding-left: 40px;
	background-image: url("icons/privateBrowsing50.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 42px;
}
#panels.compact section ul li[incog="true"]  > span.right > span {
	padding-left: 16px;
	background-size: 16px;
}
#panels {
	clear: left;
}
#panels > section {
	background-color: #f8f8f8;
	display: none;
}
#frmOpts td, #frmReload td {
	vertical-align: top;
	padding: 0 16px;
}
#frmOpts p, #frmReload p {
	font-size: 1.15em;
	margin-top: 0.75em;
	margin-bottom: 0;
}
#frmReload select {
	width: 300px;
	font-family: sans-serif;
	font-size: 1em;
}
#reloadplaying {
	padding: 8px 16px;
	background-color: #ffd;
}
.controldisabled {
	color: #aaa;
}

select[name="prefdark"]{
	max-width: 4.2em;
}
select[name="colorbars"]{
	max-width: 8.7em;
}
body.dark {
	background-color: #000;
	color: #eee;
}
body.dark nav ul li {
	background-color: #333;
}
body.dark nav ul li:hover {
	background-color: #383838;
}
body.dark nav ul li.vis {
	background-color: #444;
	border-bottom: 1px solid #444;
}
body.dark section ul li {
	background-color: #444;
}
body.dark.blue section ul li:nth-child(even){ /* Updated 1.9.6 */
	background-color: #009;
}
body.dark.gray section ul li:nth-child(even){ /* Added 1.9.6 */
	background-color: #111;
}
body.dark:not(.gray):not(.blue) section ul li:not(:last-of-type) { /* Added 1.9.6 */
	border-bottom: 1px solid #000;
}
body.dark #panels > section {
	background-color: #444;
}
body.dark img[src*="privateBrowsing.svg"] {
	background-color: #ddd;
	border-radius: 3px;
}
body.dark section ul li[incog="true"]  > span.right > span {
	background-image: url("icons/privateBrowsingDark.svg");
}
body:not(.nostripe) .skip {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #ddd 0px, #ddd 20px);
}
body.dark:not(.nostripe) .skip {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0,0,0,0.2) 0px, rgba(0,0,0,0.2) 20px);
}
/* v2.1 */
#shortcuthelplink, #shortcuthelplink:visited {
	color: #00e;
}
body.dark #shortcuthelplink, body.dark #shortcuthelplink:visited {
	color: #0ee;
}
/* v2.2 Container Indicator */
span.right > span[tabcontext] {
	color: var(--identity-color);
	fill: var(--identity-color);
}
.context-label, .context-icon {
	display: inline-block;
	margin-block-start: auto;
	margin-block-end: auto;
}
.context-label {
	font-size: calc(1em - 2px);
	vertical-align: top;
	width: auto;
	max-width: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	padding: 0 2px;
}
.context-label:hover {
	max-width: unset;
	overflow: visible;
	background-color: #e8e8e8;
}
#panels.compact .context-label {
	display: none;
}
body.dark .context-label:hover {
	background-color: #222;
}
.context-icon {
	height: 1em;
	width: 1em;
	background-size: contain;
	margin-left: 2px;
	background-image: var(--identity-icon);
	fill: currentColor;
	/* The following filter is from the Firefox Multi-Account Containers extension */
	filter: url('/img/filters.svg#fill');
}
#panels.compact section ul li:not([incog="true"])  > span.right > .context-icon {
	display: inline; 
	margin-left: 0;
}

/* v2.6 Tab Group Label */
/* Using expanded tab group text and background colors from Firefox 141
   https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch 
*/
span.right > span[tabgroup] {
	color: var(--text-color);
	background-color: var(--group-color);
	border-radius: 4px;
	font-size: 0.75em;
	padding: 0 4px;
	min-width: 16px;
	min-height: 16px;
}
body {
	--tab-group-color-blue: oklch(48% 0.2 260);
	--tab-group-color-purple: oklch(48% 0.2 315);
	--tab-group-color-cyan: oklch(48% 0.2 205);
	--tab-group-color-orange: oklch(48% 0.2 50);
	--tab-group-color-yellow: oklch(51% 0.23 90);
	--tab-group-color-pink: oklch(48% 0.2 360);
	--tab-group-color-green: oklch(48% 0.2 145);
	--tab-group-color-red: oklch(48% 0.2 15);
	--tab-group-color-gray: #5e6a77;
	--tab-group-blue-text: oklch(97% 0.05 260);
	--tab-group-purple-text: oklch(97% 0.05 315);
	--tab-group-cyan-text: oklch(97% 0.05 205);
	--tab-group-orange-text: oklch(97% 0.05 50);
	--tab-group-yellow-text: oklch(97% 0.05 90);
	--tab-group-pink-text: oklch(97% 0.05 360);
	--tab-group-green-text: oklch(97% 0.05 145);
	--tab-group-red-text: oklch(97% 0.05 15);
	--tab-group-gray-text: #f2f9ff;
}
body.dark { 
	--tab-group-color-blue: oklch(83% 0.17 260);
	--tab-group-color-purple: oklch(83% 0.14 315);
	--tab-group-color-cyan: oklch(83% 0.11 205);
	--tab-group-color-orange: oklch(86% 0.14 50);
	--tab-group-color-yellow: oklch(83% 0.14 90);
	--tab-group-color-pink: oklch(83% 0.14 360);
	--tab-group-color-green: oklch(83% 0.14 145);
	--tab-group-color-red: oklch(83% 0.14 15);
	--tab-group-color-gray: #99a6b4;
	--tab-group-blue-text: #15141a;
	--tab-group-purple-text: #15141a;
	--tab-group-cyan-text: #15141a;
	--tab-group-orange-text: #15141a;
	--tab-group-yellow-text: #15141a;
	--tab-group-pink-text: #15141a;
	--tab-group-green-text: #15141a;
	--tab-group-red-text: #15141a;
	--tab-group-gray-text: #5e6a77;
}